# Welcome to the Police Station Lab Computer

Let's use the computer, and the data it contains, to see if we can't crack this mystery.

## Gathering Information on Addresses for "Annabel"

First thing to do, is load up the people `.csv` - we'll notice that it's separated by tabs (`\t`) and there's some comments (`#`), so let's take those into consideration.

In [63]:
people_dataframe = pd.read_csv('./data/people/people.csv', comment='#', sep='\t')

In [64]:
people_dataframe.head()

             name gender  age                    address
0  Alicia Fuentes      F   48    Walton Street, line 433
1   Jo-Ting Losev      F   46  Hemenway Street, line 390
2   Elena Edmonds      F   58   Elmwood Avenue, line 123
3  Naydene Cabral      F   46  Winthrop Street, line 454
4  Dato Rosengren      M   22    Mystic Street, line 477

Let's see if we can find out where this "spiky haired" Annabel lives! Remember what we know about this person from the clues we've looked at so far!

In [65]:
row = people_dataframe[(people_dataframe['name'].str.contains('Annabel')) & (people_dataframe['gender'] == 'F')]
row.head()

                name gender  age                     address
269      Annabel Sun      F   26         Hart Place, line 40
1661  Annabel Church      F   38  Buckingham Place, line 179

## Time for more investigation!

You'll need to hit the streets before you can pull up any relevant interviews, come back when you've knocked on the doors on the addresses you found!

## Checking out the interviews

Now that you have the interviews you want to check out, let's see what they say!

## Gathering Information on Memberships

We have data from the following memberships on file:

1. `AAA`
2. `AAdvantage`
3. `Costco`
4. `Delta_SkyMiles`
5. `Fitness_Galaxy`
6. `Museum_of_Bash_History`
7. `REI`
8. `Rotary_Club`
9. `TCSU_Alumni_Association`
10. `Terminal_City_Library`
11. `United_MileagePlus`

From the evidence collected, input the memberships that the suspect held.

In [27]:
memberships = [
    "AAA",
    "Delta_SkyMiles",
    "Terminal_City_Library",
    "Museum_of_Bash_History",
]

We're going to be using a combination of `glob` and `os` again! Because those libraries should already be imported, we doon't need to import them again!

In [ ]:
files = os.path.join('./data/memberships/', '*.csv')
files = glob.glob(files)
print(files)

Next we'll combine these `.csv` files together into a list of `pandas.DataFrame`s (read more about those [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html))

In [38]:
import pandas as pd

membership_dataframe_list = [pd.read_csv(file) for file in files if pd.read_csv(file).columns in memberships]

# change column names to 'name'
for membership_dataframe in membership_dataframe_list:
    membership_dataframe.rename(columns={membership_dataframe.columns[0]: 'name'}, inplace=True)

Now, we'll find the intersection of the memberships using `pandas.merge` (read about it [here](https://pandas.pydata.org/docs/reference/api/pandas.merge.html)) on the list of dataframes.

We're using `reduce` from functools (read about it [here](https://www.geeksforgeeks.org/reduce-in-python/)) to perform the `pandas.merge` operation on a number of `pandas.DataFrame`s.

In [39]:
from functools import reduce

result_dataframe = reduce(lambda x, y: pd.merge(x, y, how='inner'), membership_dataframe_list)

Let's save this information for later in a file called `membership_names.csv`

In [72]:
result_dataframe.to_csv('membership_names.csv')